/* Label styles using :where() for easy overriding */
:where(.runko-label) {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  color: inherit;
  margin-bottom: 0.25rem;
}

:where(.runko-label__required) {
  color: #dc3545;
}
